@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500&display=swap');


:root {
    --color-border: #999999;
    --color-place-branc: #d8d8d8 !important;
}


/* ============ RESET GLOBAL ============ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: #f4f4f7;
    color: #333;
}

/* ============ SIDEBAR ============ */
.sidebar {
    width: 250px;
    background: #fff;
    position: fixed;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #e0e0e0;
}
.sidebar h2 {
    font-size: 20px;
    font-weight: 600;
    color: #444;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li p,
.sidebar ul li a {
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 8px;
    transition: background 0.3s ease;
    color: #ffff !important;
}

.sidebar ul li p:hover,
.sidebar ul li a:hover {
    background: #f0f0f5 !important;
    color: #000 !important;
}

.user-logger {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: Top;
    width: auto;
}

.user-logger-div {
    display: flex;
    margin-left: 10px;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}

.user-logger img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-logger-div p {
    margin: 0 10px 3px 10px;
    font-size: 14px;
    color: #f5f5f5;
    font-weight: 500;
}

.user-logger p {
    margin: 0 10px 3px 10px;
    font-size: 13px;
    color: #f5f5f5;
    font-weight: 500;
}

.user-logger-div button {
    font-size: 12px;
    color: #ffffff;
    background: #f30a3c;
    font-weight: 500;
    border: none;
    border-radius: 50%;
    padding: 5px 9px;
    cursor: pointer;
}


/* ============ CONTEÚDO PRINCIPAL ============ */
.main {
    flex: 1;
    width: 100%;
    padding: 40px;
    margin-left: 250px;
}

/* ============ HEADER ============ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

/* ============ SEÇÃO DE MÉTRICAS ============ */
.metrics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* ============ CARDS MINIMALISTAS ============ */
.card {
    background: #fff;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.card h3 {
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

.card p {
    font-size: 22px;
    font-weight: bold;
    color: #111;
}

/* ============ DARK MODE ============ */
@media (prefers-color-scheme: dark) {
    body {
        background: #161C24;
        color: #ddd;
    }

    .sidebar {
        background-image: linear-gradient(to bottom, #212B36, #161C24);
        border-right: 1px solid #333;
    }

    .sidebar h2 {
        color: #fff;
    }

    .sidebar ul li a {
        color: #bbb;
    }

    .sidebar ul li a:hover {
        background: #1d1d1d;
        color: #fff;
    }

    .td-preco {
        font-weight: 600;
    }

    .card {
        background: #212B36;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .card h3 {
        color: #bbb;
    }

    .card p {
        color: #fff;
    }
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

.btn {
    font-family: Inter;
    box-shadow: inset 0 -4px #0002;
    width: auto + 53px;
    margin-top: 10px;
    padding: 14px 14px 14px 14px;
    background-color: #007bff;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}

/* ============ TABELA DE PRODUTOS ============ */
.table-container {
    background: rgb(225, 225, 225);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #454545;
}

th {
    background: transparent;
}

.actions button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-edit {
    background: #28a745;
    color: white;
}

.btn-delete {
    background: #dc3545;
    color: white;
}

.btn-edit:hover {
    background: #218838;
}
.btn-contact {
    background: #007bff;
    color: white;
}

.btn-delete:hover {
    background: #c82333;
}

.btn-link.INATIVOp,
.btn-edit.INATIVOp {
    display: none;
}
.btn-contact {
    display: none;
}
.btn-contact.ATIVO {
    display: none;
}

.btn-contact.INATIVOp {
    display: block;
}

/* ============ MODAL DE FORMULÁRIO ============ */


.modal-overlay,
.config-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal,
.config {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #212B36;
    padding: 30px;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    height: fit-content;
}

.config {
    width: 400px;
    height: auto;
}

.modal.active,
.config.active,
.modal-overlay.active,
.config-overlay.active {
    display: block;
}

.modal h2,
.config h2,
.modal i,
.config i {
    margin-bottom: 15px;
}

.modal input,
.config input,
.modal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: .1px solid var(--color-border);
    border-radius: 5px;
    color: #f0f0f5;
    outline: none;
    background: transparent;
    min-width: 100%;
    max-width: 100%;

}

#msginfo {
    display: none;
    position: fixed;
    top: 30%;
    left: 69%;
    transform: translate(-50%, -50%);
    background: #333e49;
    color: #fff;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
    max-width: 120%;
    min-width: 70%;
    text-align: center;
    font-size: 14px;
  }

.fa-regular.fa-circle-question {
    cursor: pointer;
    transition: all 0.3s;
    font-size: 14px;
    margin-left: 5px;
}
.fa-regular.fa-circle-question:hover {
    color: #fbff00;
}


.modal input,
.config input,
.modal textarea,
.modal .price-div {
    color: #fff;
    border: none;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4),
        0 0 0 2px rgba(255, 255, 255, 0.05) inset;
    transition: 0.3s;
}

.modal .price-div #price {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: 0 0 0 transparent;
}

.modal input:focus,
.modal .price-div:focus-within,
.config input:focus,
.config .price-div:focus,
.modal textarea:focus {
    box-shadow: 0 4px 20px rgba(0, 255, 170, 0.6),
        0 0 0 1px rgba(0, 255, 170, 0.8) inset;
}

.modal .div-url-link input {
    min-width: 2% !important;
}


.btn-edit,
.btn-delete,
.btn-link,
.btn-contact {
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-edit {
    background: #1db954;
}

.btn-delete {
    background: #dc3545;
}

.btn-link {
    background: #007bff;
}

#fake-product-list {
    display: flex !important;
    flex-wrap: wrap;
    gap: 10px;
    overflow-x: hidden;
    align-items: center;
    justify-content: space-between;
}

.card-produto-placeholder.placeholder {
    width: 304px;
    padding: 12px;
    background: #474747;
    border-radius: 16px;
    display: flex !important;
    gap: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    align-items: center;

}

.capa-produto-placeholder {
    height: 60px;
    width: 24%;
    border-radius: 8px;
    background-color: #ddd;
}

.info-produto-placeholder {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nome-placeholder {
    height: 20px;
    width: 80%;
    border-radius: 5px;
    background-color: #ddd;
}

.linhas-tags {
    display: flex;
    gap: 8px;
    align-items: center;
}

.preco-placeholder,
.tag-placeholder {
    height: 16px;
    width: 50px;
    border-radius: 4px;
    background-color: #ddd;
}

.botoes-placeholder {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.botao-placeholder {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
}

/* Efeito shimmer */
.shimmer {
    position: relative;
    overflow: hidden;
}

.shimmer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, transparent 0%, rgba(94, 94, 94, 0.4) 50%, transparent 100%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    100% {
        left: 100%;
    }
}





/* ============ CARD DE PRODUTOS ============ */



#product-list {
    display: flex !important;
    flex-wrap: wrap;
    gap: 10px;
    overflow-x: hidden;
    align-items: center;
}

.card-produto {
    background-color: #272c31;
    border-radius: 12px;
    padding: 15px;
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Três colunas que dividem o espaço igualmente */
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.capa-produto {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.info-produto {
    flex: 1;
}



.nome-produto {
    margin: 0;
    font-size: 15px;
    color: white;

    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.tipo-produto {
    margin: 2px 0;
    font-size: 14px;
    font-weight: 600;
    color: #bbb;
}

.tags {
    display: flex;
    gap: 8px;
    margin-top: 5px;
}

.tag {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    color: white;
}

.ATIVO {
    background-color: #1db954;
}

.tipo {
    background-color: #444;
}

.INATIVO {
    background-color: #dc3545;
}




/* Estilo do TOAST */
#toast-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.toast {
    font-family: monospace;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    opacity: 0;
    animation: fadeInOut 4s forwards;
}

.toast.success {
    background-color: #4CAF50;
}

.toast.error {
    background-color: #f44336;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}






/* Fundo escuro com desfoque */
.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Container do popup */
.popup {
    background: #1f1f1f;
    color: #fff;
    padding: 30px 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    animation: aparecer 0.3s ease;
}

/* Título e texto */
.popup h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

.popup p {
    font-size: 15px;
    color: #ccc;
}

/* Botões */
.popup-botoes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.popup-botoes button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.confirmar {
    background-color: #e63946;
    color: white;
}

.confirmar:hover {
    background-color: #c92433;
}

.cancelar {
    background-color: #444;
    color: #eee;
}

.cancelar:hover {
    background-color: #666;
}

/* Animação */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo botão de exemplo */
.botao-abrir {
    margin: 40px;
    padding: 12px 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.botao-abrir:hover {
    background-color: #555;
}






/* Estilo do Toggle */
.toggle-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 50px;
    border-radius: 30px;
    border: none;
}

.toggle {
    width: 50px;
    height: 25px;
    position: relative;
    appearance: none;
    background-color: #ccc;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle:checked {
    background-color: #16A34A;
    border-radius: 30px;
}

.toggle:not(:checked) {
    border-radius: 30px;
}

.toggle:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle:checked:before {
    transform: translateX(25px);

}

.toggle-label {
    margin-left: 10px;
    font-weight: bold;
    color: #ffffff;
}

/* Troca o texto do toggle de acordo com o estado */
.toggle:checked+.toggle-label {
    content: "Ativo";
}












/* Estilo do Toggle */

input,
textarea,
.price-div {
    color: #fff;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 10px 14px;
    font-size: 16px;
    width: 100%;
    margin: 4px 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

::-webkit-input-placeholder {
    color: var(--color-place-branc) !important;

}

::-moz-placeholder {
    color: var(--color-place-branc) !important;

}

::-moz-placeholder {
    color: var(--color-place-branc) !important;

}

:-ms-input-placeholder {
    color: var(--color-place-branc) !important;
}


.price-div {
    margin: 0 0 10px 0 !important;
    padding: 0;
    border: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;

}

.price-div input {
    border: none;
    height: auto;
    margin: 0 !important;
    padding: 10px 4px;

}

.price-div span {
    font-size: 16px;
    color: #717070;
    margin-left: 10px;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

/* Efeito de foco nos inputs e textarea */
input:focus,
textarea:focus,
.price-div:focus {
    border-color: #4c61af !important;
    outline: none;
}




/* ============ RESPONSIVIDADE ============ */
@media (max-width: 1024px) {
    body {
        font-family: 'Inter', sans-serif !important;
    }

    .card-produto {
        width: 100%;
    }
    .card-produto-placeholder.placeholder {
        width: 100%;
    }
    .nome-produto {
        margin: 0;
        font-size: 18px;
        color: white;
        width: 230px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    
    }
    .tipo-produto {
        margin: 2px 0;
        font-size: 18px;
        font-weight: 600;
        color: #bbb;
    }
    #status-produto {
        font-size: 18px;
    }
    .sidebar {
        width: 220px;
    }

    .main {
        margin-left: 240px;
    }
}

@media (max-width: 768px) {
    body {
        font-family: 'Inter', sans-serif !important;
    }
    

    .sidebar {
        position: absolute;
        left: -100%;
        transition: all 0.3s ease;
    }

    .sidebar.active {
        left: 0;
    }

    .main {
        margin-left: 0;
    }

    .modal {
        width: 90%;
    }
}


.aba-produto header {
    position: relative;
}

#count-prod {
    font-size: 12px;
    color: #1d1d1d;
    font-weight: 900;
    margin-left: 10px;
    background-color: rgb(0, 252, 122);
    padding: 3px 9.5px;
    border-radius: 50%;
    position: absolute;
}